/*@font-face {
    font-family: 'UTMBebas';
    src: url('../fonts/UTMBebas.ttf') format('truetype');
}*/
body {
	/*font-family: UTM Bebas;*/
	font-family: Roboto;
	font-weight: normal;
	color: #28324e;
}
h1,h2,h3,h4,h5,h6 {
	margin: 0;
}
a:hover,a:focus,a:active{
	text-decoration: none;
}
#page-content-wrapper {
  padding-left: 240px;
  padding-right: 240px;
  padding-top: 50px;
}

.content-block {
  padding: 15px;
}
.content-block .profile-block{
  height: 320px;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
}
.content-block .profile-cover {
  width: 100%;
  border-radius: 5px;
}
.content-block .profile-block .profile-content {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.4);
  height: 80px;
  border-radius: 0 0 5px 5px;
  color: #fff;
  font-size: 18px;
}
.content-block .profile-block .profile-content div.profile-position{
  padding-left: 150px;
  padding-top: 15px;
}
.content-block .profile-block .profile-content div{
  display: inline-block;
  padding-right: 20px;
  padding-top: 15px;
}
.content-block .profile-block .profile-content div i{
  font-size: 24px
}
.content-block .profile-avatar {
  width: 90px;
  height: 90px;
  top: -30px;
  left: 30px;
  border: 4px #fff solid;
  position: absolute;
}
.content-block .content-nav {
  width: 100%;
  margin-top: 20px;
  border: #e7e7e7 1px solid;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #e7e7e7;
}
.content-block .content-nav>li>a{
  color: #000;
  font-weight: bold;
}
.content-block .content-nav>li>a:hover {
  background: none;
  color: #0288d1;
}
.content-block .tiles-wrap li .item-content{

}
.content-block .tiles-wrap li h4{
  padding:10px 20px;
  display: block;
}
.content-block .tiles-wrap li p{
  padding:10px 20px;
}
.content-block .tiles-wrap li .item-avatar {
  height: 36px;
  width: 36px;
  float: left;
  margin-left: 15px;
  margin-right: 10px;
  margin-top: 4px;
}
.content-block .tiles-wrap li span{
  line-height: 44px;
  background: #eceeed;
  float: left;
  clear: both;
  width: 100%;
}
.content-block .tiles-wrap li .item-count { 
  margin: 10px auto;
  display: block;
  color: #9e9e9e;
}
.content-block .tiles-wrap li .item-count i{
  margin-right: 3px;
  margin-left: 3px;
} 
.content-block .tiles-wrap li .item-count i:hover{
  color: #03a9f4;
}
.content-block .tiles-wrap li .item-button-group{
  position: absolute;
  top: 0;
  width: 100%;
}
.content-block .tiles-wrap li .item-button-group a{
  margin: 5px 6px;
  background: #fff;
  color: #cecece;
  font-weight: lighter;
}
.content-block .tiles-wrap li .item-button-group a:hover{
  color: #fff;
  background: #de0000;
}
.visitor-block {
	width: 240px;
	background-color: #eceeed;
	height: 100%;
	position: fixed;
	right: 0;
	top: 50px;
}
.visitor-block h3{
	background-color: #e0e2e1;
	margin: 0;
	padding: 15px 40px;
	font-size: 18px;
}
.visitor-block ul {
	height: calc(100%-50px);
	overflow-y:scroll;
}
.visitor-block ul li{
	padding: 10px 25px;
	line-height: 40px;
}
.visitor-block ul li img{
	height: 40px;
	width: 40px;
	margin-right: 10px;
}
